*{
    margin: 0;
    padding: 0;
}


body{
    font-family: Helvetica,Arial,sans-serif;
    background-color: #F0F0F0;
    width: 100%;
}

header{
    display: flex;
    background-color: white;
    box-shadow: 0 2px 40px -20px rgba(0, 0, 0, 0.5);
    height: 60px;
    align-items: center; 

}

h1{

    font-size: 25px;
   
}

.logo{
    margin-left: 20px;
    
}

.div_pesquisa{

    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: space-between;
    padding: 0 30px;

}

.barra-pesquisa {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.input-container {
    position: relative;
    
}

.barra-pesquisa input[type="text"] {
    width: 100%;
    padding: 10px 0px 10px 20px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}
.barra-pesquisa input[type="text"]::placeholder {

    color: rgb(207, 207, 207);

}



.barra-pesquisa button {
    padding: 10px 20px ;
    background-color: #ffffff;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;


}

@media (max-width: 600px) {

    h1{

        font-size: 25px;
        margin-bottom:30px;
       
    }


    .div_pesquisa{

        display:block;
        width: 95%;
        margin: auto;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 20px;
        justify-content: space-between;
        padding: 0 0px;
        

    
    }

    .barra-pesquisa {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        background-color: #fff;
        justify-content: space-between;
    }
    
    .input-container {

        position: relative;
        width: 100%;
        
        
    }
    
    .barra-pesquisa input[type="text"] {
        width: 100%;
        padding: 10px 15px 10px;
        border: none;
        outline: none;
        font-size: 16px;
        background-color: transparent;
    }
    .barra-pesquisa input[type="text"]::placeholder {
    
        color: rgb(207, 207, 207);
        
    
    }
    
    
    
    .barra-pesquisa button {
        background-color: #ffffff;
        padding: 10px 20px ;
        
        margin-left: 10px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    
    
    }


}








