


table {
    width: 95%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 150px;
    box-shadow: 0 2px 40px -30px rgba(0, 0, 0, 0.5);
    
  }

  thead{
    background-color: #0500FF;
    color: white;
    font-weight: 300;
    
  }

  th, td {
    padding: 8px;
    text-align: center;
 
  }

  td{

    border-bottom: solid 2px #DFDFDF ;

  }

  th{
    padding: 12px 0px;
  }


  .ponta_esquerda{
    border-radius: 10px 0px 0 0;
  }
  .ponta_direita{
    border-radius: 0px 10px 0 0;
  }




  .foto_perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }