table {
  width: 95%;
  border-collapse: collapse;
  margin: auto;
  

	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

thead {
  background-color: #0500FF;
  color: white;
  font-weight: 300;
}

th  {
  padding: 12px 0px;

}

.titulo_tabela_mobile:nth-of-type(1) {
  border-radius: 10px 0px 0px 0px;
  width: 30%;
  
}
.titulo_tabela_mobile:nth-of-type(2) {
  border-radius: 0px 10px 0px 0px;
  
  
}

.div_tabela{

  margin-bottom: 100px;

}

.PontoDaTabela{

  margin-left: 65%;
  font-size: 25px;
  line-height: 0.3;
  vertical-align: sub;
  

}

.foto_perfil {
  width: 50px;
  height: 50px;
  margin-left: 7%;
  border-radius: 50%;
}


.Não_existe_funcionario{
  margin: auto;
  text-align: center;
}


.accordion {
  display: flex;
  background-color: #ffffff;
  cursor: pointer;
  padding: 18px;
  margin-left: 2.5%;
  border: none;
  border-bottom: solid 2px #DFDFDF;
  text-align: left;
  outline: none;
  width: 95%;
  font-size: 15px;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



.nome_fucionario{
  font-size: 20px;
  line-height: 2.5;
  
  text-align: center;
  align-items: center;
  margin: auto;
  margin-left: 20%;

}
.seta{

  width: 50px;
  height: 50px;
  margin-right: 1%;
  

}

.div_informacao  {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 95%;
  margin: auto;
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
}

.div_informacao div {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 2px dashed #DFDFDF;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  
}


.div_informacao h3  {
  font-size: 20px;

  width: 50%;
  
 
}
.div_informacao p  {
  font-size: 20px;
  text-align: right;
  width: 50%;
  

}


@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}







@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
